* {
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: Arial;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.header {
    height: 100vh;
    display: flex;
}

.main {
    height: 100vh;
    display: flex;
}
